# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/

# Variáveis de ambiente / segredos
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# SO
.DS_Store
Thumbs.db

# Arquivos grandes / backups locais
*.rar
*.zip
*.7z
